@font-face {
   font-family: 'arial-rounded-mt-bold';
   font-display: swap;
   src: url('file:///Users/sprzd/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-10-02_225920/fonts/arial-rounded-mt-bold/font.ttf');
}
